.navigation {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	height: 60px;
	margin-left: 65%;
	width: 35%;
	a {
		color: #006ba8;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	:active {
		color: black;
	}
}

.footer {
	background: #313131;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
}
