.about-me__profile {
  margin: auto 0;
  max-width: 350px;
}
.about-me {
  min-height: 100vh;
}
.profile__photo {
  max-width: 350px;
  border-radius: 50%;
  @media #{$mobile} {
    width: 90%;
  }
}
.about-me__content {
  max-width: 350px;
}
.about-me__skills {
  margin: 2rem auto 0 auto;
  width: 100%;
  .skills__title {
    width: 100%;
    text-align: center;
  }
  .skills__content {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.skill {
  display: flex;
  .skill__icon {
    margin: 0 0.5rem;
    width: 1.4rem;
    height: 1.4rem;
  }
}
