.contact-me__form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  .contact-me__label {
    display: flex;
    justify-content: space-between;
  }
  .contact-me__button {
    width: 400px;
    margin: auto;
  }
  input {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 4px;
  }
  textarea {
    max-width: 100%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 1rem;
  }
  .success {
    background-color: #dff2bf;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .success__message {
      color: #4f8a10;
    }
  }
}
