.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #0c2d48;
  color: white;
  .footer__copyright {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer-logo {
    display: flex;
    width: 100px;
    height: 100px;
  }
}
.social {
  display: flex;
  justify-content: center;
}
.social-link {
  margin: 1rem;
  color: white;
  &:hover {
    color: white;
  }
}
.nav-item {
  text-align: center;
  padding: 1rem 0;
  background-color: #05131f;
  border: none;
}
.nav-link {
  color: white;
  &:hover {
    color: white;
  }
}
.nav-link-active {
  color: #f4d403;
  &:hover {
    color: #f4d403;
  }
}

.header {
  transition: transform 1s ease;
  background-color: #05131f;
  width: 300px;
  color: white;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}
.header-active {
  transform: translateX(0);
  transition: transform 1s ease;
  background-color: #05131f;
  width: 300px;
  color: white;
  height: 100vh;
  padding: 1rem;
  padding-top: 40%;
  display: flex;
  justify-content: space-around;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-hamburger {
  position: absolute;
  display: none;
  z-index: 1;
}
@media #{$mobile} {
  .header {
    position: absolute;
    transform: translateX(-100%);
  }
  .header-logo-hamburger {
    border: none;
    background-color: transparent;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 25px;
    left: 10px;
    .logo {
      width: 100px;
    }
  }
}
