@import "./mixins.scss";

.footer {
  text-align: center;
  background-color: #313131;
  color: white;
  width: 100%;
  padding: 1rem 0;
  .link {
    color: white;
    &:hover {
      color: white;
    }
  }
}
