.button {
  border-radius: 4px;
  width: 100%;
  border: #f0f0f0;
  height: 40px;
  background-color: #19202a;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: rgb(63, 62, 62);
  }
}
.button--primary {
  margin-top: 1rem;
}

.validate {
  color: white;
  padding: 0.2rem;
  border-radius: 6px;
  background-color: rgb(250, 67, 67);
}

.logo-small {
  width: 50px;
  height: 50px;
  margin: 1rem;
}
.logo-large {
  width: 200px;
  height: 200px;
  margin: 1rem;
}
.card-glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem;
  backdrop-filter: blur(3px);
  border: solid 2px transparent;
  background-clip: padding-box;
}
