.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $header-bg-color;
  .header__svg {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    .header__title {
      color: white;
      margin: 0 1rem;
    }
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: $header-bg-color;
  color: white;
  .footer__copyright {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.social__link {
  color: white;
  &:hover {
    color: white;
  }
}
