.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $header-bg-color;
  padding: 1rem;
  .header__title {
    color: white;
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: $header-bg-color;
  color: white;
  width: 100%;
  padding: 1rem 0;
}
.social__link {
  color: white;
  &:hover {
    color: white;
  }
}
