@import "./variable.scss";
@import "./about.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./header_footer.scss";
@import "./global.scss";

.app {
  font-family: "Lato", sans-serif;
  background-size: cover;
  color: white;
}
