@import "./variable.scss";
@import "./mixins.scss";
@import "./about.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./footer.scss";

body {
  font-family: "Lato", sans-serif;
  background: url("https://images.unsplash.com/photo-1607275667966-5923aacbba8f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  background-position: center;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.nav {
  background: $header-bg-color;
  color: white;
  padding: 1rem;
}
