@import "./variable.scss";
@import "./mixins.scss";
@import "./about.scss";
@import "./projects.scss";
@import "./contact.scss";
@import "./footer.scss";
@import "./animation.scss";

.app {
  font-family: "Lato", sans-serif;
  background: $img no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-size: 16px;
}

.header__title {
  background: $header-bg-color;
  color: white;
  padding: 1rem;
}
