// create mixin
@mixin flex($content, $direction) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
}
@mixin card($w1) {
  background: rgba(255, 255, 255, 0.2);
  max-width: $w1;
  border-radius: 10px;
  padding: 2rem;
  backdrop-filter: blur(8px);
  border: solid 2px transparent;
  background-clip: padding-box;
}

// mobile media query
$mobile: "only screen and (max-width: 500px)";
