@import "./mixins.scss";

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
  .about-me-profile-container {
    text-align: center;
    @media #{$mobile} {
      width: 16rem;
    }
    .profile {
      border-radius: 10px;
      @media #{$mobile} {
        width: 16rem;
      }
    }
  }
  .about-me-content-container {
    .about-me-content {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      @media #{$mobile} {
        padding: 0 1rem;
      }
      .skills {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
