@import "./mixins.scss";

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
  .about-me-profile-container {
    box-shadow: 0 0 5px 5px #f0f0f0;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    margin: 1rem;
    .profile {
      border-radius: 10px;
      @media #{$mobile} {
        width: 16rem;
      }
    }
  }
  .about-me-content-container {
    max-width: 500px;
    padding: 2rem;
    box-shadow: 0 0 5px 5px #f0f0f0;
    border-radius: 10px;
    margin: 1rem;
    .about-me-content {
      display: flex;
      flex-direction: column;
      @media #{$mobile} {
        padding: 0 1rem;
      }
      .skills {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .skill {
          display: flex;
          padding: 0 0.5rem;
          .icon {
            margin: 0 0.5rem;
            width: 1.4rem;
            height: 1.4rem;
          }
        }
      }
    }
  }
}
