.title {
  text-align: center;
  padding-bottom: 2rem;
}

.project {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media #{$mobile} {
    max-width: 400px;
    margin: auto;
  }
  .card {
    @include card(400px);
    text-align: left;
    margin: 1rem;
  }
  .actions {
    display: flex;
    justify-content: space-around;
    .link {
      width: 100%;
      margin: 0 0.5rem;
      cursor: pointer;
      .btn {
        border-radius: 4px;
        width: 100%;
        border: #f0f0f0;
        height: 40px;
        padding: 1rem 0;
        cursor: pointer;
        &:hover {
          padding: 1rem 0;
          background-color: rgb(189, 189, 189);
        }
      }
    }
  }
}
