@import "./mixins.scss";
.wrapper {
  @include flex(space-around, row);
}
.title {
  text-align: center;
  padding-bottom: 5rem;
}
.project {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media #{$mobile} {
    max-width: 400px;
    margin: auto;
  }
  .card {
    text-align: left;
    box-shadow: 0 0 5px 5px #f0f0f0;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
  }
  .actions {
    display: flex;
    justify-content: space-around;
    .link {
      width: 100%;
      cursor: pointer;
      .btn {
        border-radius: 4px;
        background-color: white;
        width: 100%;
        border: #f0f0f0;
        padding: 1rem 0;
        cursor: pointer;
        &:hover {
          padding: 1rem 0;
          background-color: rgb(189, 189, 189);
        }
      }
    }
  }
}
