.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  .card__button {
    display: flex;
    margin-top: 1rem;
  }
  .card__link {
    width: 100%;
    margin: 0 0.5rem;
    cursor: pointer;
  }
}
