$main-bg-color: #54657e;
$header-bg-color: rgb(25, 32, 42);
$card-bg-color: rgb(31, 36, 45);
$screen: rgb(0, 255, 255);

@mixin flex($content, $direction) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
}
@mixin glassCard {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem;
  backdrop-filter: blur(3px);
  border: solid 2px transparent;
  background-clip: padding-box;
}

// mobile media query
$mobile: "only screen and (max-width: 500px)";
