.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: hsl(196, 75%, 22%);
    color: white
}
.footer-links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}
.footer-links a{
    color: white; 
    text-decoration: none;
    padding-top: 14px
}
